    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300&display=swap');

    *{
        font-family: 'Poppins', sans-serif;
        padding: 0;
        margin: 0;   
    }
    body{
        color:#343a40;
        padding: 0;
        margin: 0; 
    }
   
    .white-content{
        color:white !important;
    }
    span{
        color:blue;
    }
    .navbar {
        background: url('/PROJECT7/CSS/_import_61b1b961adece2.40419793_FPpreview.mp4'); 
        background-size: cover; /* Scale the image to cover the entire navbar */
    }
    .navbar-nav > li.dropdown:hover > .dropdown-menu {
        display: block;
    }
    .navbar{
        /* display: block; */
        position:fixed;
        background: none;
    }
    
    /* main */
    .main{
    height: 600px;
    width: 100%;
    background-size: cover;
    mask-repeat: no-repeat;
    background: url(https://plus.unsplash.com/premium_photo-1687463804147-a9642ffa32a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80);
    }
    .dark {
        background-color: black !important; /* Change the background color as desired */
        /* Add any additional styles for the dark background */
      }
    .light{
        background-color: #343a40;
    }
  
    .main .buttons button{
    background-color: transparent;
    border: white 0.1rem solid;
    border-radius: 0.6rem;
    color: white;
    
    }
    .main .container{
        margin-top: 10rem;
    }
    /* research */
    .research{
        margin-top:10rem;
         }
    .research button{
        box-sizing: border-box;
        background: transparent;
        color: dodgerblue;
        padding: 0.6rem;
        border: solid 0.01rem slategrey;
    }
    /* business */
    .business {
        margin-top: 10rem;
    }
    .business img{
        height: 22rem;
    }
    .business h4{
        font-size: 2rem;
        font-weight: 100;
    }
    .business .buttons button{
        background-color: transparent;
        border: slategrey 0.1rem solid;
        border-radius: 0.6rem;
        color: dodgerblue;
    }
    /* website */
    .website img{
        height: 22rem;
        width: 35rem;    }
    .website h4{
        font-size: 2rem;
        font-weight: 100;
    }
    .website .buttons button{
        background-color: transparent;
        border: slategrey 0.1rem solid;
        border-radius: 0.6rem;
        color: dodgerblue;
    }
    .website{
        margin-top: 10rem;
    }
    /* retainer */
    .retainer {
        margin-top: 10rem;
    }
    .retainer img{
        height: 22rem;
    }
    .retainer h4{
        font-size: 2rem;
        font-weight: 100;
    }
    .retainer .buttons button{
        background-color: transparent;
        border: slategrey 0.1rem solid;
        border-radius: 0.6rem;
        color: dodgerblue;
    }
    /* client */
    .client{
        margin-top: 10rem;
    }

    /* reviews */
    .swiper{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        overflow: clip;
        list-style: none;
        padding: 5rem!important;
        z-index: 1;
        display: block;
    }
    .testimonialBox{
        position: relative;
        width: 100%;
        padding: 2.5rem;
        color: #343a40;
    }
    .testimonialBox .details{
        /* display:flex; */
        align-items: center;
    }
    .testimonialBox .details .imgBx{
        width: 19rem;
        height: 5rem;
        border:0px;
        border-radius: 50%;
        margin: 2rem;
    }
    .testimonialBox .details .imgBx img{
        border-radius:50%;
    }
    .rate{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .write button{
        background-color: transparent;
        border: slategrey 0.1rem solid;
        border-radius: 0.6rem;
        color: dodgerblue;
        float: right;
    }
    .get-in-touch{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .get-in-touch .call img{
        width: 18rem;
        height: 10rem;
        border-left: 0;
        border-right: 0;
        border:0.2rem #343a40 solid;
        border-radius: 50%;
        border-top: 0.2rem;
     }
   
     form{
        margin-top: 10rem;
     }
     form button{
        box-sizing: border-box;
        background: transparent;
        color: dodgerblue;
        padding: 0.3rem;
        border: solid 0.01rem slategrey;
        margin-bottom: 5rem;
    }
    footer{
        margin-bottom: -10rem;
        margin-top:-5rem;   
        margin-right: -8rem;
        margin-left:-9rem;
    }
    footer .social a i{
        size: 3rem;
    }
    footer li a{
        text-decoration: none;
    }
    footer .social  a i {
        border:solid 0.09rem blue;
    }
    .social .facebook-icon {
        display: inline-block;
        border: 2px solid #3c5b9b;
        padding: 8px;
        color:white;
        border-radius: 50%;
        margin-right: 5px;
      }
     .social .linkedin-icon {
        display: inline-block;
        border: 2px solid #107bbb;
        color:white;
        padding: 5px;
        border-radius: 50%;
        margin-right: 5px;
      }
      
    .social .google-icon {
        display: inline-block;
        border: 2px solid #de4d38;
        padding: 5px;
        color:white;
        border-radius: 50%;
        margin-right: 5px;
    }
    .list-unstyled a:hover{
            color:white;
    }
    .list-unstyled{
        margin-left: 6rem;
    }
    
    .reveal{
        position:relative;
        transform:translateY(150px);
        opacity:0;
        transition:all 2s;
    }
    .reveal.active{
        transform:translateY(0px);
        opacity:1;
    }